*.user
*swp
*.directory
Makefile*
*.o
moc_*
.git
*.qmake*
*.pro.*
*.moc
*/data/*
*~
*Release*
apps/setup/packages/*/data
apps/setup/onlineRepo
*node_modules
*lock.json
project-files/*
*.autosave
.DS_Store
output
