[Desktop Entry]
Encoding=UTF-8
Name=Link to 600 × 338
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwj8rveuy7HkAhWF16QKHXpoBjgQjRx6BAgBEAQ&url=https%3A%2F%2Fgfycat.com%2Fornatesparklinggallinule-background-1920x1080-animation-graphics&psig=AOvVaw334aZ-wOr99OC3Q-uWme3N&ust=1567494781259771
Icon=text-html
